

<style>

  section {
    background-color: sandybrown;
    width: 500px;
    margin: 0 auto;
  }

  h1{
    padding: 10px 0 5px 10px;
  }

  div {
    margin-left: 70px ;
  }

  label {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
  }

  input {
    width: 300px;
    height: 30px;
  }

  button {
    background-color: goldenrod;
    width: 80px;
    height: 30px;
    margin: 5px 50px 15px 350px;
  }


</style>
<section>
  <h1>Formulário para Editar Carros</h1>
  <form action="/add-carro" method="POST">
    <input type="hidden" name="id" value="{{carro.id}}">
    <div>
      <label for="">Modelo</label><br>
      <input type="text" name="modelo" value="{{carro.modelo}}">
    </div>

    <div>
      <label for="">Passageiros</label><br>
      <input type="text" name="passageiros" value="{{carro.passageiros}}">
    </div>

    <div>
      <label for="">Fabricação</label><br>
      <input type="text" name="dataFab" value="{{carro.dataFab}}">
    </div>

    <div>
      <label for="">Placa</label><br>
      <input type="text" name="placa" value="{{carro.placa}}">
    </div>

    
    <button type="submit">Confirmar</button>

  </form>
</section>
